# Application

Django
Pillow
psycopg2==2.7.7
psycopg2-binary
static3
gunicorn
dj-database-url
dj-static
python-decouple
django-widget-tweaks
django-extensions
django-storages
boto3
pytz
requests

# Django Admin
https://github.com/darklow/django-suit/tarball/v2

# Auditlog
-e git+https://github.com/cosmunsoftwares/django-auditlog#egg=django-auditlog

# Django Tests
django-test-without-migrations
ipython

# Cloudinary
cloudinary