{% extends "base.html" %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="col-md">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{ user.profile.points }}</h3>
            <p>Pontos</p>
          </div>
          <div class="icon">
            <i class="fas fa-plus"></i>
          </div>
          <a href="#" class="small-box-footer"></a>
        </div>
      </div>
      <div class="col-md">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ user.profile.indications.count }}</h3>
            <p>Indicações</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
          <a href="#" class="small-box-footer"></a>
        </div>
      </div>
      <div class="col-md">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>{{ pendings }}</h3>
            <p>Pendentes</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-clock"></i>
          </div>
          <a href="#" class="small-box-footer"></a>
        </div>
      </div>
      <div class="col-md">
        <div class="small-box bg-red">
          <div class="inner">
            <h3 id="timer" data-target="{{ config.datetime|date:'Y-m-d H:i:s' }}">00:00:00</h3>
            <p>Tempo restante</p>
          </div>
          <div class="icon">
            <i class="fas fa-clock"></i>
          </div>
          <a href="#" class="small-box-footer"></a>
        </div>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-header">
        <i class="fas fa-medal mr-2"></i>
        <h3 class="box-title">Classificação</h3>
      </div>
      <div class="box-body">
        <table class="table">
          <thead>
            <tr>
              <th>Posição</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            {% for object in ranking %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.user.get_full_name }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="2" class="text-center">Nenhum registro encontrado!</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="box box-info">
      <div class="box-header">
        <i class="fas fa-gift mr-2"></i>
        <h3 class="box-title">Premiação</h3>
      </div>
      <div class="box-body text-center">
        {% if config.image %}<img src="{{ config.image.url }}" class="img-fluid" alt="">{% endif %}
        <h5 class="mt-5">ATENÇÃO!</h5>
        <p>{{ config.description }}</p>
      </div>
    </div>
  </section>
{% endblock %}
{% block js %}
  <script>
    $(function(){
      $timer = $('#timer')
      datetime = $timer.attr('data-target');
      var countDownDate = new Date(datetime).getTime();
      var x = setInterval(function() {
        var now = new Date().getTime();
        
        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        if(hours.toString().length == 1){
          hours = "0"+hours;
        } if(minutes.toString().length < 2){
          minutes = "0"+minutes;
        } if(seconds.toString().length < 2){
          seconds = "0"+seconds;
        }
        
        if (distance < 0) {
          clearInterval(x);
        }else{
          html = hours+':'+minutes+':'+seconds;
          if(days){
            html = days + ' dias';
          }
          $timer.html(html);
        }
      }, 1000);
    })
  </script>
{% endblock %}