{% extends "base.html" %}

{% block content %}
  <section class="content">
    <div class="row">
      {% if not user.is_superuser and user.profile %}
        <div class="col">
          <div class="small-box bg-white shadow-1">
            <div class="inner px-3 py-3">
              <h3 class="text-dark">{{ user.profile.points }}</h3>
              <p class="text-dark">Pontos</p>
            </div>
            <div class="icon pr-2">
              <i class="fas fa-plus text-green"></i>
            </div>
            <a href="#" class="small-box-footer bg-green"></a>
          </div>
        </div>
      {% endif %}
      <div class="col">
        <div class="small-box bg-white shadow-1">
          <div class="inner px-3 py-3">
            <h3 class="text-dark">{{ indications }}</h3>
            <p class="text-dark">Indicações</p>
          </div>
          <div class="icon pr-2">
            <i class="fas fa-users text-aqua"></i>
          </div>
          <a href="#" class="small-box-footer bg-aqua"></a>
        </div>
      </div>
      <div class="col">
        <div class="small-box bg-white shadow-1">
          <div class="inner px-3 py-3">
            <h3 class="text-dark">{{ pendings }}</h3>
            <p class="text-dark">Pendentes</p>
          </div>
          <div class="icon pr-2">
            <i class="fas fa-user-clock text-yellow"></i>
          </div>
          <a href="#" class="small-box-footer bg-yellow"></a>
        </div>
      </div>
      <div class="col">
        <div class="small-box bg-white shadow-1">
          <div class="inner px-3 py-3">
            <h3 id="timer" class="text-dark" data-target="{{ config.datetime|date:'Y-m-d H:i:s' }}">00:00:00</h3>
            <p class="text-dark">Tempo restante</p>
          </div>
          <div class="icon pr-2">
            <i class="fas fa-clock text-red"></i>
          </div>
          <a href="#" class="small-box-footer bg-red"></a>
        </div>
      </div>
    </div>
    <div class="box box-primary border-0 rounded-0 shadow-1">
      <div class="box-header">
        <i class="fas fa-medal mr-2"></i>
        <h3 class="box-title">Classificação</h3>
      </div>
      <div class="box-body px-0">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="border-0 text-center" width="100">Posição</th>
                <th class="border-0">Nome</th>
              </tr>
            </thead>
            <tbody>
              {% for object in ranking %}
                <tr>
                  <td class="text-center">{{ forloop.counter }}º</td>
                  <td>{{ object.user.get_full_name|default:object.user.username }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="2" class="text-center">Nenhum registro encontrado!</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="box box-info border-0 rounded-0 shadow-1">
      <div class="box-header">
        <i class="fas fa-gift mr-2"></i>
        <h3 class="box-title">Premiação</h3>
      </div>
      <div class="box-body text-center">
        {% if config.image %}<img src="{{ config.image.url }}" class="img-fluid" alt="">{% endif %}
        <h5 class="mt-5">ATENÇÃO!</h5>
        <p>{{ config.description }}</p>
      </div>
    </div>
  </section>
{% endblock %}
{% block js %}
  <script>
    $(function(){
      $timer = $('#timer')
      datetime = $timer.attr('data-target');
      if(datetime){
        var countDownDate = new Date(datetime).getTime();
        var x = setInterval(function() {
          var now = new Date().getTime();
          
          var distance = countDownDate - now;

          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          if(hours.toString().length == 1){
            hours = "0"+hours;
          } if(minutes.toString().length < 2){
            minutes = "0"+minutes;
          } if(seconds.toString().length < 2){
            seconds = "0"+seconds;
          }
          
          if (distance < 0) {
            clearInterval(x);
          }else{
            html = hours+':'+minutes+':'+seconds;
            if(days){
              html = days + ' dias';
            }
            $timer.html(html);
          }
        }, 1000);
      }
    })
  </script>
{% endblock %}